fastapi
uvicorn
pydantic
pydantic-settings
langchain
langchain-google-genai
chromadb
python-dotenv
httpx
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
python-multipart
langchain-chroma
google-genai
rank-bm25
cachetools>=5.3.0
websockets
langchain-classic
email-validator
langchain-community
